[Container]
ContainerName=npm
Image=docker.io/jc21/nginx-proxy-manager:latest

# Ports
PublishPort=80:80
PublishPort=81:81
PublishPort=443:443

# Volumes (bind mount)

-v npm_letsencrypt:/etc/letsencrypt
-v npm_data:/data


LogDriver=journald

[Install]
WantedBy=multi-user.target
